html {
  body {
    background-color: cornsilk;
    margin: 0;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  place-items: stretch;
}

.cell {
  background-color: white;
  border: 1px black solid;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  &:nth-child(3n):not(:nth-child(9n)) {
    border-right: 2px solid #000;
  }
  &:nth-child(n + 19):nth-child(-n + 27) {
    border-bottom: 2px solid #000;
  }
  &:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 2px solid #000;
  }
  &.highlighted {
    background-color: lightblue;
  }
  &.selected {
    background-color: lightskyblue;
  }
}

.value {
  font-size: 2em;
  &.input {
    color: gray;
  }
}
